@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IList<Blog.Models.Post>
<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Resumo</th>
            <th>Categoria</th>
            <th>Publicado?</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td><a href="/Post/Visualiza/@p.Id">@p.Titulo</a></td>
                <td>@p.Resumo</td>
                <td>@p.Categoria</td>
                <td>
                    @if(p.Publicado)
                    {
                        @Html.Raw(string.Format("{0:dd/mm/yyyy}", p.DataPublicacao))
                    } else
                    {
                        @Html.Raw("Não");
                    }
                </td>
                <td><a href="/Post/RemovePost/@p.Id">Remover</a></td>
                <td><a href="/Post/PublicaPost/@p.Id">Publicar</a></td>
            </tr>
        }
    </tbody>
</table>
