@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Blog.Models.Post
<div>
    <form action="/Post/EditaPost" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <label>
            Título : <input name='titulo' value="@Model.Titulo" />
        </label>
        <label>
            Resumo : <input name='resumo' value="@Model.Resumo" />
        </label>
        <label>
            Categoria : <input name='categoria' value="@Model.Categoria" />
        </label>
        <input type="hidden" name="publicado" value="@Model.Publicado.ToString()" />
        <input type="hidden" name="dataPublicado" value="@Model.DataPublicacao" />
        <button type="submit">Cadastrar</button>
    </form>
</div>
