@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Blog.Models.Post
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edita Post</title>
</head>
<body>
    @*  <div>
        <form action="/Post/EditaPost" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <label>
        Título : <input name='titulo' value="@Model.Titulo" maxlength="50" required/>
        </label>
        <label>
        Resumo : <input name='resumo' value="@Model.Resumo" />
        </label>
        <label>
        Categoria : <input name='categoria' value="@Model.Categoria" required/>
        </label>
        <input type="hidden" name="publicado" value="@Model.Publicado.ToString()" />
        <input type="hidden" name="dataPublicado" value="@Model.DataPublicacao" />
        <button type="submit">Cadastrar</button>
        </form>
        </div>*@
    @*Opcional alterar para ficar parecido com o Novo.cshtml*@
    <form asp-controller="Post" asp-action="EditaPost" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Publicado" />
        <input type="hidden" asp-for="DataPublicacao" />
        @Html.EditorFor(p => p)
        <button type="submit">Cadastrar</button>
    </form>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js~/js/jquery.validate.min.js"></script>
    <script>
        $("form").validate();
    </script>
</body>
</html>

